* {
  font-family: Calibri, "Trebuchet MS", sans-serif;
}

body {
  margin: 0;
  background: #d9d9d9;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

section {
  width: 100%;
  box-sizing: border-box;
}

.link {
  display: block;
  color: #fff;
}

.heading {
  font-size: 2.5em;
  margin: 0;
  text-align: center;
}

.header {
  margin: 0;
  position: relative;
  background: rgba(255, 255, 255, 0.2) url(./../images/header.jpg);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: color;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  color: #fff;
}
.header .topbar {
  display: flex;
  justify-content: space-between;
  padding: 5vh 5vw;
  width: 100%;
  box-sizing: border-box;
}
.header .topbar__ul {
  width: 50%;
  display: flex;
  margin: 0;
  list-style-type: none;
  justify-content: space-between;
}
.header .topbar__li {
  display: block;
}
.header .topbar__nav-link {
  text-decoration: none;
  font-size: 1.5em;
  font-weight: bold;
}
.header .topbar__contacts {
  font-size: 1.5em;
  font-weight: bold;
}
.header-content {
  width: 60%;
  position: absolute;
  top: 20vh;
  left: 5vw;
  font-size: 2em;
  text-shadow: 0 0 10px #000;
  text-overflow: clip;
}
.header-content__link {
  background: rgba(0, 0, 0, 0.6);
  width: 300px;
  border-radius: 60px;
  padding: 10px 0;
  margin: 0 10vw;
  text-align: center;
  text-decoration: none;
}

.main {
  width: 100%;
  box-sizing: border-box;
  margin: 0;
}
.main .location {
  width: 100%;
  height: 100vh;
  padding-top: 10vh;
  box-sizing: border-box;
  background: url(./../images/location.jpg);
  background-position: center;
  background-size: cover;
}
.main .location__heading {
  margin-left: 5vw;
  font-size: 2em;
}
.main .location__subtitle {
  margin-left: 5vw;
  font-size: 1.5em;
  color: #404040;
  font-weight: normal;
}
.main .programs {
  width: 100%;
  box-sizing: border-box;
  padding: 5vh 5vw;
}
.main .programs-main {
  margin: 5vh 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.main .programs-main__item {
  width: 49%;
  position: relative;
  margin-bottom: 2vh;
  border-radius: 20px;
  overflow: hidden;
  height: 55vh;
}
.main .programs-main__item .information {
  z-index: 5;
  top: 80%;
  right: 0;
  box-sizing: border-box;
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 5% 10%;
  border-radius: 20px;
  transition: all 0.5s;
}
.main .programs-main__item .information__name {
  height: 10%;
  color: #fff;
  text-align: right;
  margin: 0 0 10px 0;
  font-size: 1.5em;
}
.main .programs-main__item .information__discription {
  color: #fff;
}
.main .programs-main__item:hover .information {
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
}
.main .info {
  background: #000;
}
.main .info .advantages__heading {
  text-align: center;
  font-size: 1.8em;
  color: #fff;
}
.main .info .advantages__item {
  box-sizing: border-box;
  width: 100%;
  height: 80vh;
  position: relative;
}
.main .info .advantages__item.first {
  background: url(./../images/advantages/first.jpg);
  background-position: center;
  background-size: cover;
}
.main .info .advantages__item.first p {
  width: 29%;
  position: absolute;
  bottom: 5vh;
  left: 5vw;
  color: #fff;
  font-size: 1.5em;
}
.main .info .advantages__item.second {
  background: #d9d9d9;
  display: flex;
  justify-content: space-between;
  padding: 5vh 5vw;
  height: 70vh;
  position: static;
}
.main .info .advantages__item.second .second__text {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main .info .advantages__item.second .second__text h3 {
  font-size: 1.7em;
  margin: 0;
}
.main .info .advantages__item.second .second__text p {
  font-size: 1.5em;
  padding: 0;
  margin: 0;
}
.main .info .advantages__item.second .second__image {
  width: 60%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
}
.main .info .advantages__item.third {
  height: auto;
}
.main .info .advantages__item.third .third__image {
  background: url(./../images/advantages/third.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;
  position: relative;
  color: #fff;
}
.main .info .advantages__item.third .third__image * {
  width: 30%;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 5vw;
}
.main .info .advantages__item.third .third__image h3 {
  top: 10vh;
  font-size: 1.7em;
}
.main .info .advantages__item.third .third__image p {
  top: 15vh;
  font-size: 1.5em;
}
.main .info .advantages__item.third .thrid__description {
  background: #d9d9d9;
  display: flex;
  justify-content: space-between;
  padding: 5vh 5vw;
}
.main .info .advantages__item.third .thrid__description .thrid__description-block {
  width: 32%;
  border-radius: 20px;
  overflow: hidden;
}
.main .info .advantages__item.third .thrid__description .thrid__description-block:first-child {
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .info .advantages__item.fourth {
  background: rgba(0, 0, 0, 0.6) url(./../images/advantages/fourth.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: color;
  height: 90vh;
}
.main .info .advantages__item.fourth p {
  color: #fff;
  font-size: 1.5em;
  width: 30%;
  position: absolute;
  left: 5vw;
  bottom: 5vh;
}
.main .info .instructors {
  padding: 5vh 5vw;
  font-size: 1.8em;
}
.main .info .instructors__heading {
  text-align: center;
  margin: 0;
  color: #fff;
}
.main .info .instructors-main {
  display: flex;
  justify-content: space-between;
  padding: 5vh 0 0;
  flex-wrap: wrap;
}
.main .info .instructors-main__item {
  width: 30%;
  margin-bottom: 5vh;
  color: #fff;
  text-align: center;
}
.main .info .instructors-main__item .img {
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
  width: 40vh;
  height: 40vh;
}
.main .info .instructors-main__item h3, .main .info .instructors-main__item p {
  margin: 0.5em 0;
}
.main .application {
  padding: 5vh 0;
  background: #000;
}
.main .application .heading {
  color: #fff;
}
.main .application .aplication-form {
  background-color: #252323;
  padding: 2vh 2vw;
  width: 40%;
  margin: 5vh auto 0;
  border-radius: 20px;
}
.main .application .aplication-form * {
  display: block;
  width: 90%;
  padding: 10px;
  box-sizing: border-box;
  margin: 4vh auto;
  border-radius: 10px;
  font-size: 1.5em;
}
.main .application .aplication-form button {
  width: 40%;
}
.main .contacts {
  padding: 5vh 5vw;
}
.main .contacts-main {
  margin-top: 2vh;
  display: flex;
  height: 50vh;
}
.main .contacts-main__map {
  width: 50%;
}
.main .contacts-main__information {
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  width: 50%;
  box-sizing: border-box;
  padding: 0 4vh;
}
.main .contacts-main__information a {
  display: block;
  color: #000;
}
.main .contacts-main__information a.mail {
  margin: 5vh 0;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  padding: 4vh 5vw;
  font-size: 1.5em;
  color: #fff;
  text-align: center;
}
.footer__social {
  display: flex;
  justify-content: flex-end;
}
.footer__social-link {
  margin-right: 1vw;
  width: 10vh;
  height: 10vw;
}
.footer__social-link img {
  -o-object-fit: contain;
     object-fit: contain;
}/*# sourceMappingURL=style.css.map */