* {
  font-family: Calibri, "Trebuchet MS", sans-serif;
}
body {
  margin: 0;
  background: #d9d9d9;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
section {
  width: 100%;
  box-sizing: border-box;
}
.link {
  display: block;
  color: #fff;
}
.heading {
  font-size: 2.5em;
  margin: 0;
  text-align: center;
}
.topbar {
  display: flex;
  justify-content: space-between;
  padding: 5vh 5vw;
  width: 100%;
  box-sizing: border-box;
  &__burger {
    display: none;
  }
  &__ul {
    width: 50%;
    display: flex;
    margin: 0;
    list-style-type: none;
    justify-content: space-between;
  }
  &__li {
    display: block;
  }
  &__nav-link {
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
  }
  &__contacts {
    font-size: 1.5em;
    font-weight: bold;
  }
}
@media (max-width: 1024px) {
  .topbar {
    display: flex;
    justify-content: space-between;
    padding: 5vh 5vw;
    width: 100%;
    box-sizing: border-box;
    &__burger {
      display: block;
      position: relative;
      z-index: 101;
      background: none;
      border: none;
      height: 10vh;
      width: 10vh;
      img {
        object-fit: contain;
        filter: invert(100);
      }
    }
    &__ul {
      width: 100%;
      display: none;
      flex-direction: column;
      justify-content: flex-start;
      z-index: 100;
      margin: 0;
      height: 100vh;
      background: rgba($color: #404040, $alpha: 0.9);
      position: fixed;
      padding: 15vh 2vw 0;
      top: 0;
      left: 0;
      list-style-type: none;
      &--active {
        display: flex;
      }
    }
    &__li {
      display: block;
      margin: 2vh 0;
    }
    &__nav-link {
      text-decoration: none;
      font-size: 1.5em;
      font-weight: bold;
    }
    &__contacts {
      font-size: 1.5em;
      font-weight: bold;
    }
  }
}
.header {
  margin: 0;
  position: relative;
  background: rgba($color: #fff, $alpha: 0.2) url(./../images/header.png);
  background-position: top;

  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: color;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  color: #fff;

  &-content {
    width: 60%;
    position: absolute;
    top: 20vh;
    left: 5vw;
    font-size: 2em;
    text-shadow: 0 0 10px #000;
    text-overflow: clip;
    &__link {
      background: rgba($color: #000, $alpha: 0.6);
      width: 300px;
      border-radius: 60px;
      padding: 10px 0;
      margin: 0 10vw;
      text-align: center;
      text-decoration: none;
    }
  }
  @media (max-width: 1024px) {
    background-position: top left;
    &-content {
      width: 100%;
      position: absolute;
      top: 10vh;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      font-size: 1.8em;
      text-align: center;
      text-shadow: 0 0 10px #000;
      &__link {
        background: rgba($color: #000, $alpha: 0.6);
        width: 300px;
        border-radius: 60px;
        padding: 10px 0;
        margin: 0;
        text-align: center;
        text-decoration: none;
      }
    }
  }
}

.main {
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  .location {
    width: 100%;
    height: 100vh;
    padding-top: 10vh;
    box-sizing: border-box;
    background: url(./../images/location.jpg);
    background-position: center;
    background-size: cover;
    &__heading {
      margin-left: 5vw;
      font-size: 2em;
    }
    &__subtitle {
      margin-left: 5vw;
      font-size: 1.5em;
      color: #404040;
      font-weight: normal;
    }
  }
  .programs {
    width: 100%;
    box-sizing: border-box;
    padding: 5vh 5vw;
    &-main {
      margin: 5vh 0;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      &__item {
        width: 49%; //!менять
        @media (max-width: 1024px) {
          width: 100%;
        }
        position: relative;
        margin-bottom: 2vh;
        border-radius: 20px;
        overflow: hidden;
        height: 55vh;
        .information {
          z-index: 5;
          top: 75%;
          right: 0;
          box-sizing: border-box;
          position: absolute;
          height: 100%;
          width: 100%;
          padding: 5% 10%;
          border-radius: 20px;
          background-color: rgba($color: #000, $alpha: 0.6);
          transition: all 0.5s;
          &__name {
            width: 100%;
            color: #fff;
            text-align: center;
            margin: 0 0 15px 0;
            font-size: 1.5em;
            display: flex;
            justify-content: space-between;
          }
          &__discription {
            color: #fff;
            opacity: 0;
            transition: opacity 0.3s;
          }
          &__button {
            width: max-content;
            height: max-content;
            display: block;
            text-decoration: none;
            color: #fff;
            font-size: large;
            padding: 8px 16px;
            background: #000;
            border-radius: 20px;
            border: 1px solid #fff;
          }
        }
        &:hover .information {
          background-color: rgba($color: #000, $alpha: 0.6);
          top: 0;
          &__discription {
            opacity: 1;
          }
        }
      }
    }
  }
  .info {
    background: #000;
    .advantages {
      &__heading {
        text-align: center;
        font-size: 1.8em;
        color: #fff;
      }
      &__item {
        box-sizing: border-box;
        width: 100%;
        height: 80vh;
        position: relative;
        &.first {
          background: url(./../images/advantages/first.jpg);
          background-position: center;
          background-size: cover;
          p {
            width: 29%;

            position: absolute;
            bottom: 5vh;
            left: 5vw;
            color: #fff;
            font-size: 1.5em;
            @media (max-width: 1024px) {
              width: 100%;
              background-color: rgba($color: #000, $alpha: 0.6);
              bottom: 0;
              left: 0;
              padding: 5vh 0;
              text-align: center;
              margin: 0;
            }
          }
        }
        &.second {
          background: #d9d9d9;
          display: flex;
          justify-content: space-between;
          padding: 5vh 5vw;
          height: 70vh;
          position: static;
          @media (max-width: 1024px) {
            flex-direction: column;
          }
          .second__text {
            width: 40%;
            @media (max-width: 1024px) {
              width: 100%;
            }
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            h3 {
              font-size: 1.7em;
              margin: 0;
            }
            p {
              font-size: 1.5em;
              padding: 0;
              margin: 0;
            }
          }
          .second__image {
            width: 60%;
            @media (max-width: 1024px) {
              width: 100%;
            }
            height: 100%;
            border-radius: 20px;
            overflow: hidden;
          }
        }
        &.third {
          height: auto;
          .third__image {
            background: url(./../images/advantages/third.jpg);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            height: 80vh;
            position: relative;
            color: #fff;
            * {
              width: 30%;
              margin: 0;
              padding: 0;
              position: absolute;
              left: 5vw;
            }
            h3 {
              top: 10vh;
              font-size: 1.7em;
            }
            p {
              top: 15vh;
              font-size: 1.5em;
            }
            @media (max-width: 1024px) {
              display: flex;
              flex-direction: column;
              justify-content: flex-end;
              * {
                width: 100%;
                margin: 0;
                padding: 2vh 2vw;
                position: static;
                left: 0;
                background: rgba($color: #000, $alpha: 0.6);
                box-sizing: border-box;
              }
              h3 {
                top: 0;
              }
            }
          }
          .thrid__description {
            background: #d9d9d9;
            display: flex;
            justify-content: space-between;
            padding: 5vh 5vw;

            .thrid__description-block {
              &:first-child {
                font-size: 1.5em;
                display: flex;
                justify-content: center;
                align-items: center;
              }
              width: 32%;
              border-radius: 20px;
              overflow: hidden;
            }
            @media (max-width: 1024px) {
              flex-direction: column;
              .thrid__description-block {
                width: 100%;
                margin-bottom: 2vh;
              }
            }
          }
        }
        &.fourth {
          background: rgba($color: #000, $alpha: 0.6) url(./../images/advantages/fourth.webp);
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          background-blend-mode: color;
          height: 90vh;
          p {
            color: #fff;
            font-size: 1.5em;
            width: 30%;
            position: absolute;
            left: 5vw;
            bottom: 5vh;
          }
          @media (max-width: 1024px) {
            p {
              left: 0;
              bottom: 0;
              width: 100%;
              margin: 0;
              padding: 5vh 2vh;
              box-sizing: border-box;
            }
          }
        }
      }
    }
    .instructors {
      padding: 5vh 5vw;
      font-size: 1.8em;

      &__heading {
        text-align: center;
        margin: 0;
        color: #fff;
      }
      &-main {
        display: flex;
        justify-content: space-between;
        padding: 5vh 0 0;
        flex-wrap: wrap;
        @media (max-width: 1024px) {
          flex-direction: column;
          align-items: center;
        }
        &__item {
          width: 30%;
          @media (max-width: 1024px) {
            width: 90%;
          }
          margin-bottom: 5vh;
          color: #fff;
          text-align: center;
          .img {
            margin: 0 auto;
            border-radius: 50%;
            overflow: hidden;
            width: 40vh;
            height: 40vh;
          }
          h3,
          p {
            margin: 0.5em 0;
          }
        }
      }
    }
  }
  .application {
    padding: 5vh 0;
    background: #000;
    .heading {
      color: #fff;
    }
    .aplication-form {
      background-color: #252323;
      padding: 2vh 2vw;
      width: 40%;
      margin: 5vh auto 0;
      border-radius: 20px;
      * {
        display: block;
        width: 90%;
        padding: 10px;
        box-sizing: border-box;
        margin: 4vh auto;
        border-radius: 10px;
        font-size: 1.5em;
      }
      button {
        width: 40%;
      }
      @media (max-width: 1024px) {
        width: 90%;
      }
    }
  }
  .contacts {
    padding: 5vh 5vw;
    &-main {
      margin-top: 2vh;
      display: flex;
      height: 50vh;

      &__map {
        width: 50%;
      }
      &__information {
        font-size: 1.5em;
        display: flex;
        flex-direction: column;
        width: 50%;
        box-sizing: border-box;
        padding: 0 4vh;
        a {
          display: block;
          color: #000;
          &.mail {
            margin: 5vh 0;
          }
        }
      }
      @media (max-width: 1024px) {
        height: auto;
        flex-direction: column-reverse;
        &__map {
          width: 100%;
          height: 40vh;
        }
        &__information {
          width: 100%;
        }
      }
    }
  }
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  padding: 4vh 5vw;
  font-size: 1.5em;
  color: #fff;
  text-align: center;

  @media (max-width: 1024px) {
    flex-direction: column;
    &__copyright {
      margin: 2vh 0;
    }
  }
  &__mail-link {
    font-size: 1.5em;
    color: #fff;
  }
  &__social {
    display: flex;
    justify-content: flex-end;
    &-link {
      margin-right: 1vw;
      width: 10vh;
      height: 10vw;
      img {
        object-fit: contain;
      }
    }
  }
}
.modal {
  opacity: 0;
  width: 20%;
  border-radius: 20px;
  background: rgba($color: #404040, $alpha: 0.9);
  position: fixed;
  color: #fff;
  text-align: center;
  font-size: 1.2em;
  padding: 2vh 2vw;
  top: 50%;
  left: 50%;
  display: none;
  translate: -50% -50%;
  transition: opacity 0.3s;
  &--active {
    display: block;
    opacity: 1;
  }
  @media (max-width: 1024px) {
    width: 80%;
  }
}
